# Backend
SECRET_KEY=change-me-to-random-string
DATABASE_URL=sqlite:///./proverkakg.db
PYTHON_VERSION=3.11.0

# Admin (created on first seed only)
ADMIN_EMAIL=admin@proverkakg.kg
ADMIN_PASSWORD=112233
